/* Authentication Styles */

/*changing the backrgound*/

.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #d5e4e6 0%, #d5e4e6 100%);
    padding: 1rem;
}


.login-box 
{
    background: white;
    border-radius: 8px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
}

.lock-icon {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

/*h1 color has changed*/
.login-box h1 
{
    text-align: center;
    color: #4687bd;
    margin-bottom: 0.5rem;
    font-size: 1.875rem;
}


.subtitle {
    text-align: center;
    color: #6b7280;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
}


.demo-info 
{
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #dbeafe;
    border-radius: 6px;
}